body{
    background-color: #EDD263;
    color: #3B2D64;
}

.navbar-brand{
    font-size: 26px;
    font-weight: 700;
}

.nav-link{
    font-weight: 700;
}

.search-box{
    width: 60%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.btn-search{
    padding: 10px 30px;
    background-color: #473679;
    color: #fff;
    font-weight: 700;
}
.btn-search:hover{
    background-color: #302452;
    color: #fff;
}


.single-meal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}